<div class="ui inverted mini menu">
<div class="ui container">
  <%= link_to 'Chatroom', root_path, class: 'item'%>

  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Log out</a>
        <%= link_to 'Log in', login_path, class: 'item' %>
        <%= link_to 'Sign up', signup_path, class: 'item' %>
      </div>
    </div>

    <% if logged_in?  %>
    <div class="item">
      <%= link_to current_user.username, "#"%>
    </div>
    <% end %>
    </div>
  </div>
</div>